<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--<mvc:annotation-driven/>-->

    <aop:aspectj-autoproxy/>
    <!--<context:component-scan base-package="com.spring.demo"/>-->
    <bean id="driver" class="com.spring.demo.aopdemo.Driver" />
    <bean id="myAspect" class="com.spring.demo.aopdemo.MyAspect" />
    <!--<bean class="org.springframework.web.servlet.mvc.support.ControllerClassNameHandlerMapping"/>

    <bean id="handlerMapping" class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>
    <bean name="/login.html" class="com.spring.demo.controller.StudController"/>-->

</beans>